#header{
    padding: 15px;
    border-bottom: 1px solid orange;
}

a.gallery-item{
    height:250px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
}

#main{
    margin-top:25px;
}