// --------------------------------------------------
// Buttons
// --------------------------------------------------

// Button global
// -------------------------
// main button
.btn {
  padding: 2rem 4.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-radius: $radius;
  color: $white;
  text-align: center;
  //width: auto;
  //display: inline-block;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  &:focus,
  &:hover {
    cursor: pointer;
  }
}

// button color skins
// -------------------------

.btn-prime {
  width: 21rem;
  border: 2px solid $prime;
  background: $prime;

  &:focus,
  &:hover {
    border-color: darken($prime, 5%);
    background-color: darken($prime, 5%);
  }
}

.btn-second {
  width: 20rem;
  border: 2px solid $second;
  background: $third;

  &:focus,
  &:hover {
    border-color: darken($second, 5%);
    background-color: darken($second, 5%);
  }
}

.btn-third {
  width: 20rem;
  border: 2px solid $third;
  background: $third;

  &:focus,
  &:hover {
    border-color: darken($third, 5%);
    background-color: darken($third, 5%);
  }
}

.btn-prime-outline {
  width: 20rem;
  border: 2px solid $prime;
  color: $prime;
  background: transparent;

  &:focus,
  &:hover {
    background-color: $prime;
    color: $white;
  }
}

.btn-white-outline {
  width: 20rem;
  border: 2px solid $white;
  background: transparent;

  &:focus,
  &:hover {
    background-color: $white;
    color: $colorTextGray;
  }
}

// button size skins
// -------------------------

.btn-large {
  width: 25.5rem;
  //padding: 2.5rem 6rem;
  text-transform: uppercase;
  //font-size: 2.5rem;
}

.btn-small {
  width: 15.2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  font-size: 1rem;
}

//button helpful
//----------------
.close{
  height: 3.8rem;
  width: 3.8rem;
  display: block;
  text-align: center;
  font-size: 1.9rem;
  background-color: transparent;
  border: $transparent;
  color: $white;
}
