// --------------------------------------------------
// TM Typography
// --------------------------------------------------

// Body reset
// --------------------------------------------------

html {
	font-size: 10px; // static
	}

body {

}


// Links
// -------------------------

a,
.link {
	text-decoration: none;

	&:hover,
	&:focus {

		text-decoration: underline;
	}
}

// Images
// -------------------------

img {
	vertical-align: middle;
}

// Typography
// --------------------------------------------------

// Body text
// -------------------------

p {
    margin-bottom: 3.5rem;
	font-size: 1.8rem;
	line-height: 3rem;
	font-family: "Open Sans";
    color: $colorTextDarkGray;
}

h1 + p{
  padding-bottom: 5rem;
}

h2 + p{
  margin-bottom: 10rem;
}

// Headings
// -------------------------

.h1,
.h2,
.h2,
.h3,
.h4,
.h5,
.h6{

}


.h1 {
	font-size: 4.8rem;
	line-height: 6.4rem;
	font-family: 'Merriweather', serif;
}
.h2 {
	font-size: 3.6rem;
	line-height: 4.8rem;
	font-family: 'Merriweather', serif;
}
.h3 {
	font-size: 2.4rem;
	line-height: 3.4rem;
	font-family: 'Merriweather', serif;
}
.h4 {
	font-size: 2.2rem;
	line-height: 3rem;
	font-family: 'Merriweather', serif;
	//margin-bottom: 4rem;
}
.h5 {
	font-size: 1.4rem;
	font-family: "Open Sans";
}
.h6 {
	font-size: 1.4rem;
	font-family: 'Merriweather', serif;
}

.quote {
	max-width: 75rem;
	font-size: 2.2rem;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	margin-bottom: 3rem;
	color: $tintGray;
}

.small-text {
	font-size: 1.6rem;
	color: $tintGray;
}

