
@import "../bootstrap/css/bootstrap.min";
@import "core";


header,
body{
  font-family: 'Merriweather', serif;
}

.main{
  border: 1px solid red;
}

.hero-section{
  //background-color: #241e18;
  background-color: #000000;
  background-image: url("../images/herobg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.hero-section p:first-of-type{
  margin-top: 8rem;
}

.hero-section h1{
  margin: 10rem 0;
}

ul{
  margin: 0;
  padding: 0;
}

nav li > a,
.mob-menu li>a{
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, .4);
  padding-bottom: 0.4rem;
  border-bottom: 2px solid transparent;
}

nav li > a:hover,
.mob-menu li>a:hover{
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid $prime;
}


nav li{
  margin-right: 3rem;
}

.mob-menu li{
  margin-right: 1rem;
}

.design > .circle,
.development > .circle,
.research > .circle{
  height: 16.5rem;
  width: 16.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: $prime;
}

.design > .circle{
  background-image: url("../images/works/workexample6.png");
}

.development > .circle{
  background-image: url("../images/works/workexample7.png");
}

.research > .circle{
  background-image: url("../images/works/workexample8.png");
}


.work-list >li{
  margin-bottom: 3rem;
}

figure{
  border: 2px solid $pampas;
  padding: .4rem;
  border-radius: 3px;
}

figure > img{
  height: auto;
  max-width: 100%;
}

figcaption{
  height: 100%;
  width: 100%;
  padding: 2rem 5.5rem 0;
  border-radius: 3px;
  background-color: rgba(233, 142, 25, .8);
  display: none;
}

figure:hover figcaption{
  display: block;
  top: 0;
  left:0;
}

footer .main{
  min-height: 34rem;
  padding: 10rem 0;
}

.social p{
  padding-bottom: 8rem;
}


.social{
  background-color: $second;
}

.social ul{
  width: 42rem;
}

.social li{
  width: 24%;
  padding: 0;
}

.social a{
  width: 7rem;
  height: 7rem;
  text-decoration: none;
}

.icon-dribbble,
.icon-instagram,
.icon-mail2,
.icon-rss{
  font-size: 2.1rem;
  border: 1px solid $tintGray;
  border-radius: 50%;
  padding: 2rem;
  color: $colorTextLightGray;
}

.social a .icon-dribbble:hover,
.social a .icon-instagram:hover,
.social a .icon-mail2:hover,
.social a .icon-rss:hover{
  border: 1px solid $white;
  color: $white;
}

.burger{
  width: 4rem;
  padding: 0.5rem;
  background-color: transparent;
  border: transparent;
}

.stick{
  width: 3rem;
  margin-bottom: 0.5rem;
  height: 0.3rem;
  background-color: rgba(255, 255, 255, .4);
}

.burger:hover .stick{
  background-color: rgba(255, 255, 255, .8);
}